@{
    ViewData["Title"] = "List Of Teachers";
}
<center><h1 class="display-2">List Of Teachers</h1></center>
<center><img src="~/img/teachers.jpeg"  width="800" height="500"></center>
<h3>@Model.name Is a Teacher of this degree @Model.profession </h3>
<label>This is a Test no.2</label>
<div class="text-center">
    <h2 class="display-4">Welcome to my page of Teachers</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>