@model StudentModel

@{
    ViewData["Title"] = "Student List";
}
<h1 class="display-2">Student List</h1>
<img src="~/img/students.jpg"  width="500" height="450">
<h3>@Model.name Is a student of this degree @Model.profession </h3>
<label>This is a Test</label>
<div class="text-center">
    <h2 class="display-4">Welcome to my page of students</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>